.home {
  text-align: center;
}




.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #1E88E5;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navlink {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  line-height: 30px;
  padding: 8px;
  margin: 5px 30px;
  background-color: #1E88E5;
  border-radius: 4px;
  color: #BBDEFB;
  text-decoration: none;
  cursor: pointer;
}

.navlink:hover {
  transition: .3s color;
  color: #FAFAFA;
}

.title {
  left: 10px;
  margin-top: 15px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 600px) {
  .title {
    display: none;
  }
}

.title>h1 {
  margin-left: 4px;
  font-family: 'Ubuntu', sans-serif;
  color: #BBDEFB;
  font-size: 16px;
}

.searchForm {
  padding-top: 10px;
  width: 960px;
  margin-left: 44%;
}

.searchForm h1 {
  margin-left: 15px;
}

.results {
  text-align: left;
  margin-left: 90px;
}

.results p {
  color: green;
  font-size: 20px;
}

.fa {
  padding-left: 20px;
  cursor: pointer;
  color: #1E88E5;
}


.container {
  display: flex;
  /*align-items: center;*/
  /*justify-content: space-between;*/
}

.container .left {
  margin-top: 30px;
  border-right: 2px solid #e3e3e3;
}

.container .right {
  margin-top: 30px;
  text-align: left;
  margin-left: 30px;
}

.container > div {
  flex: 1;
}

.right ul li{
  display: inline-block;
  padding: 0px 10px;
  font-size: 30px;
  cursor: pointer;
}

.right ul li:hover {
  color: #9E9E9E;
}

.activeDay {
  color: #9E9E9E;
}


.totals p {
  font-size: 22px;
  font-weight: bold;
}

.calcValues {
  font-size: 18px;
  font-weight: normal;
}




/* Cool CSS FORM */


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.icon-user:before {
  content: "\f095";
}
.icon-lock:before {
  content: "\f023";
}
[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
.icon-large {
  position: absolute;
  top: 11px;
  left: 10px;
  color: white;
}
.icon-large:before {
  vertical-align: top;
  font-size: 1.33333em;
}
.icon-lock {
  left: 12px;
}
form {
  width: 250px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #222;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 1px 3px 2px rgba(0, 0, 0, 0.3), inset 0 -100px 50px rgba(255, 255, 255, 0.1);
  position: relative;
}
form:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  background: inherit;
  top: -8px;
  transform: rotate(45deg);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
}
#input_wrapper {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3em;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -50px 30px rgba(255, 255, 255, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.3);
}
p {
  position: relative;
}
label {
  color: transparent;
  font-size: 1px;
  position: absolute;
  visibility: hidden;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 0 none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
input[type=text]:hover, input[type=password]:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}
#login {
  border-bottom: 1px solid black;
  border-radius: 0.3em 0.3em 0 0;
}
#pass {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 0.3em 0.3em;
}
input[type=submit] {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 0.2em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 20px 20px rgba(255, 255, 255, 0.2), 0 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(50, 50, 50, 0.1);
  transition: all 0.3s ease-out;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-font-smoothing: subpixel-antialiased;
}
input[type=submit]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -20px 20px rgba(200, 200, 200, 0.1), 0 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(100, 100, 100, 0.1);
}
input[type=submit]:active {
  top: 1px;
}
#log-in {
  background: #1e83e5;
}
#register {
  background: #5f9a2e;
}

















