@import url('https://fonts.googleapis.com/css?family=Dosis:800');
@import url('https://fonts.googleapis.com/css?family=Spectral+SC');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');


.home {
  text-align: center;
  border-right: 2px solid #e3e3e3;
  border-left: 2px solid #e3e3e3;
  max-width: 1260px;
  margin: 0 auto;
  height: 1000px;
}



























/* Cool CSS FORM */


.home * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.icon-user:before {
  content: "\f095";
}
.icon-lock:before {
  content: "\f023";
}
[class^="icon-"], [class*=" icon-"] {
  display: inline;
  width: auto;
  height: auto;
  line-height: inherit;
  vertical-align: baseline;
  background-image: none;
  background-position: 0% 0%;
  background-repeat: repeat;
}
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
.icon-large {
  position: absolute;
  top: 11px;
  left: 10px;
  color: white;
}
.icon-large:before {
  vertical-align: top;
  font-size: 1.33333em;
}
.icon-lock {
  left: 12px;
}
.home form {
  width: 250px;
  margin: 30px auto;
  padding: 15px;
  border-radius: 0.3em;
  border: 1px solid rgba(0, 0, 0, 0.6);
  background: #222;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), 1px 3px 2px rgba(0, 0, 0, 0.3), inset 0 -100px 50px rgba(255, 255, 255, 0.1);
  position: relative;
}
.home form:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  width: 15px;
  height: 15px;
  margin-left: -8px;
  background: inherit;
  top: -8px;
  transform: rotate(45deg);
  border-top: 1px solid rgba(0, 0, 0, 0.6);
  border-left: 1px solid rgba(0, 0, 0, 0.6);
  box-shadow: inset 1px 1px 0 rgba(255, 255, 255, 0.2);
}
#input_wrapper {
  border: 1px solid rgba(0, 0, 0, 0.6);
  border-radius: 0.3em;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2), inset 0 -50px 30px rgba(255, 255, 255, 0.1), inset 0 5px 5px rgba(0, 0, 0, 0.3);
}
p {
  position: relative;
}
.home label {
  color: transparent;
  font-size: 1px;
  position: absolute;
  visibility: hidden;
}
.home input[type=text], .home input[type=password] {
  width: 100%;
  padding: 10px 10px 10px 35px;
  border: 0 none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.home input[type=text]:hover, .home input[type=password]:hover {
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
}
#login {
  border-bottom: 1px solid black;
  border-radius: 0.3em 0.3em 0 0;
}
#pass {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0 0 0.3em 0.3em;
}
.home input[type=submit] {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px;
  margin-top: 8px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 0.2em;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 20px 20px rgba(255, 255, 255, 0.2), 0 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(50, 50, 50, 0.1);
  transition: all 0.3s ease-out;
  font-family: Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1em;
  font-weight: bold;
  color: rgba(255, 255, 255, 0.8);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3), 0 1px 0 rgba(255, 255, 255, 0.2);
  -webkit-font-smoothing: subpixel-antialiased;
}
.home input[type=submit]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 -20px 20px rgba(200, 200, 200, 0.1), 0 2px 1px rgba(0, 0, 0, 0.2), 0 0 2px 8px rgba(100, 100, 100, 0.1);
}
.home input[type=submit]:active {
  top: 1px;
}
#log-in {
  background: #1e83e5;
}
#register {
  background: #5f9a2e;
}






body #wrap {
  /*margin: 0px auto;*/
  display: inline-block;
  width: 500px;
}
body #wrap #broke {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  bottom: 0px;
  left: 0px;
  margin: 0px;
  padding: 10px;
  position: relative;
  right: 10px;
  top: 0px;
}

body #wrap #broke:target button {
  background: #ff5c26;
  border-color: #ff5c26;
}
body #wrap #broke:target input[type="text"] {
  background: #ffe6dd;
  border: 1px solid #ff5c26;
}
body #wrap .form {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
  -webkit-transition: all 0.5s ease-out;
  border: none 0px;
  padding: 10px;
}
body #wrap .form button {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #5bb75b;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-repeat: repeat-x;
  border: 1px solid #bbbbbb;
  border-color: #51a351 #51a351 #387038;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  left: -130px;
  line-height: 20px;
  margin-top: 10px;
  padding: 4px 14px;
  margin-left: 130px;
  position: relative;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: middle;
}

body #wrap .form input[type="text"] {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  color: rgba(47, 130, 194, 0.8);
  font-size: 18px;
  height: 44px;
  padding: 0px 10px;
  position: relative;
  -webkit-appearance: none;
  width: 100%;
  z-index: 4;
}
body #wrap .form input[type="text"]:-moz-placeholder {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: rgba(0, 0, 0, 0.2);
}
body #wrap .form input[type="text"]:-ms-input-placeholder {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: rgba(0, 0, 0, 0.2);
}
body #wrap .form input[type="text"]::-webkit-input-placeholder {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: rgba(0, 0, 0, 0.2);
}
body #wrap .form input[type="text"]:focus + label {
  background: #0080ff;
  color: #fff;
  left: 465px;
  z-index: 6;
}
body #wrap .form input[type="text"]:focus:-moz-placeholder {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: rgba(0, 0, 0, 0);
}
body #wrap .form input[type="text"]:focus:-ms-input-placeholder {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: rgba(0, 0, 0, 0);
}
body #wrap .form input[type="text"]:focus::-webkit-input-placeholder {
  -moz-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  color: rgba(0, 0, 0, 0);
}



/* MEDIA QUERIES */


@media only screen and (min-device-width: 700px) {
  .navbar {
    display: flex;
    justify-content: center;
    list-style: none;
    background-color: #1E88E5;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .navlink {
    font-family: 'Ubuntu', sans-serif;
    font-size: 28px;
    line-height: 25px;
    padding: 5px;
    padding-bottom: 12px;
    margin: 5px 20px;
    background-color: #1E88E5;
    border-radius: 4px;
    color: #BBDEFB;
    text-decoration: none;
    cursor: pointer;
    width: 150px;
    margin-top: 10px;
  }

  .navlink p {
    padding: 0px;
    margin: 0px;
  }

  .navbar i {
    display: none;
  }


  .navlink:hover {
    transition: .3s color;
    color: #FAFAFA;
  }

  .title {
    position: absolute;
    margin: 0px;
    margin-top: 8px;
    padding: 0px;
    left: 14%;
    color: #1A237E;
  }

  .home h1 {
    padding-top: 100px;
    font-family: 'Roboto Slab', serif;
  }


  .searchForms {
    width: 100%;
    /*display: inline-block;*/
    margin-left: 24%;
  }



  .searchForm h1 {
    margin-left: 15px;
  }

  .results {
    text-align: left;
    margin-left: 90px;
  }

  .results h1 {
    font-family: 'Spectral SC', serif;
  }

  .results p {
    color: green;
    font-size: 20px;
  }

  .fa {
    padding-left: 20px;
    cursor: pointer;
    color: #1E88E5;
  }

  .days {
    font-family: 'Spectral SC', serif;
  }

  .container {
    display: flex;
    /*align-items: center;*/
    /*justify-content: space-between;*/
  }

  .container .left {
    margin-top: 30px;
    border-right: 2px solid #e3e3e3;
  }

  .container .right {
    margin-top: 30px;
    text-align: left;
    margin-left: 30px;
  }

  .container > div {
    flex: 1;
  }

  .right ul li{
    display: inline-block;
    padding: 0px 10px;
    font-size: 30px;
    cursor: pointer;
  }

  .right ul li:hover {
    color: #9E9E9E;
  }

  .activeDay {
    color: #9E9E9E;
  }


  .totals p {
    font-size: 22px;
    font-weight: bold;
  }

  .calcValues {
    font-size: 18px;
    font-weight: normal;
  }

  .currentDay {
    font-family: 'Spectral SC', serif;
    font-size: 20px;
    font-weight: bolder;
    color: #1E88E5;
  }


}




/* MOBILE */

@media only screen and (max-width: 1600px) {
  .title {
    display: none;
  }
}

@media only screen
  and (min-device-width: 700)
  and (max-device-width: 1281px) {

  .searchForms {
    width: 1280px;
    margin-left: 0px;
    padding-left: 200px;
  }

  #wrap {
    width: 430px !important;
  }

  #broke {
    width: 430px;
  }

  .navbar {
    width: 1280px;
  }

  .home {
    max-width: 960px;
  }
}

@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    .title {
      display: none;
    }

    .navbar {
      display: flex;
      background-color: #1E88E5;
      width: 100%;
      list-style: none;
      box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .navlink {
      font-family: 'Ubuntu', sans-serif;
      font-size: 18px;
      line-height: 30px;
      padding: 8px;
      text-decoration: none;
      border-radius: 4px;
      color: #BBDEFB;
      background-color: #1E88E5;
    }

    .navlink:nth-child(n+3) {
      margin-top: 6px;
      margin-left: 5px;
    }

    .navlink:nth-child(2) {

    }

    .navlink p {
      padding: 0px;
      margin: 0px;
    }

    .navbar i {
      color: white;
    }

    .facebook p i {
      padding-right: 6px;
    }

    /* My List Component */

    .searchForms {
      width: 370px;
      margin: 0px;
      padding: 0px;
    }

    div #wrap {
      max-width: 365px;
    }

    #wrap {
      width: 350px;
      margin-left: 5px;
      /*padding: 0 auto;*/
    }

    .results {
      margin-left: 20px;
    }

    .container {
      display: flex;
    }

    .container .left h1 {
      font-size: 18px;
    }

    .container .left {
      margin: 0px;
      padding: 0px;
      border-right: 2px solid #e3e3e3;
    }

    .container .right {
      margin-left: 13px;
    }

    .days {
      margin: 0px;
      margin-top: 10px;
      padding: 0px;
    }

    .right ul li{
      display: inline-block;
      padding: 0px 10px;
      margin: 0px;
      font-size: 15px;
      cursor: pointer;
    }

    .days {
      font-family: 'Spectral SC', serif;
    }

    .results h1 {
      font-family: 'Spectral SC', serif;
    }

    .fa {
      padding-left: 20px;
      cursor: pointer;
      color: #1E88E5;
    }



    .calcValues {
      display: block;
    }

    .currentDay {
      font-family: 'Spectral SC', serif;
      font-size: 15px;
      font-weight: bolder;
      color: #1E88E5;
    }




  }





