.navbar {
  display: flex;
  justify-content: center;
  list-style: none;
  background-color: #1E88E5;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.navlink {
  font-family: 'Ubuntu', sans-serif;
  font-size: 22px;
  line-height: 30px;
  padding: 8px;
  margin: 5px 30px;
  background-color: #1E88E5;
  border-radius: 4px;
  color: #BBDEFB;
  text-decoration: none;
  cursor: pointer;
}

.navlink:hover {
  transition: .3s color;
  color: #FAFAFA;
}

.title {
  left: 10px;
  margin-top: 15px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media all and (max-width: 600px) {
  .title {
    display: none;
  }
}

.title>h1 {
  margin-left: 4px;
  font-family: 'Ubuntu', sans-serif;
  color: #BBDEFB;
  font-size: 16px;
}

.searchForm {
  padding-top: 10px;
  width: 960px;
  margin-left: 41%;
}

.results {
  text-align: left;
  margin-left: 90px;
}

.results p {
  color: green;
  font-size: 20px;
}

.fa {
  padding-left: 20px;
  cursor: pointer;
  color: #1E88E5;
}






















